.container {
    margin: 1rem;
    min-width: 13rem;
}

h1 {
    font-size: 1rem;
    text-align: center;
}

#time {
    font-size: 2.5rem;
    text-align: center;
}

.settings {
    display: flex;
    justify-content: space-around;
}
.settings-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Utility Classes */
.pt-5 {
    padding-top: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
}

/* Hide default HTML checkbox */
.switch #milTime {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Slider readable label */
.readable {
    display: block;
    position: absolute;
    bottom: -20px;
}
